
<div class="app-body bg">
  <main class="main d-flex">
    <div class="container">
       
      <div class="row login-padd">
        <div class="col-md-4 ">
          <div class="card-group ">
            <div class="card p-4 login-color">
              <div class="card-body">
             
                <form [formGroup] = "loginForm" (ngSubmit)="onLoginClicked()">
                  <div class="form-group">
                 
                  Username<br>
                  <input type="text" class="form-control" formControlName="username">
                  
                  <small class="form-text text-muted danger text-left col-md-12" 
                  *ngIf="loginForm.controls['username'].hasError('required') && (submited || loginForm.get('username').touched)">Please enter a Valid email!</small>

                  <small class="form-text text-muted danger text-left col-md-12" 
                  *ngIf="loginForm.controls['username'].hasError('pattern')">Please enter a Valid email!</small>

                </div>
                <div class="form-group">
               
                  Password<br>
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="row" style="text-align: center">
                  <div class="col-md-12 col-sm-12 col-xs-12" >
                    <!-- <button type="submit" class="btn btn-sm">Login</button> -->
                    <div class="dropdown">
                        <button class="btns bb" >
                          <i class="fa fa-sign-in"></i>
                        </button>
                     </div>
                    <button class="btns">Login</button>
                    
                 
                </div>
                </div>
                </form>
              </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
