

<!-- <div class="col-md-3"> -->
  <div class="row padd">
<div class="col-md-3" *ngFor="let data of profile_obj">
<div class="card" >
    <img src="assets/img/{{data.img}}"  style="width:100%">
    <div class="text-padd">
    <h2>{{data.name}}</h2>
    <p class="title">{{data.date}}</p>
    <p>{{data.comment}}</p>
  </div>
  </div>
  <div style="height: 5px;"></div>
  <div class="card" >
     
      <div class="text-padd">
      <div class="col-md-12">
      <div class="pull-left"><h2>Steve Sanders</h2></div>
     <div class="pull-right"> <img src="assets/img/im289.png" style="width:100%;"></div>
    </div>
    <div class="clearfix"></div>
      <p class="title">Friends of Elliot</p>
      <p>Steve wants to add you to group best friends</p>
    </div>
    </div>
</div>
  </div>
  

